<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flis | Exercícios</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/calendario.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="../img/logo.png" class="logo"></a>
        <img src="../img/menu.png" alt="Icon Menu" class="menu-icon">
        <nav class="nav-header">
            <ul>
                <li><a href="#">Saúde</a></li>
                <li><a href="#">Comunidade</a></li>
                <li id="menu-margem"><a href="#">Assistência</a></li>
                <li class="dropdown dropbtn">
                    <div class="fitnessNav">Fitness</div>
                    <div class="dropdown-content">
                        <a href="">Alimentação</a>
                        <a href="view/html/exercicios.html">Exercícios</a>
                        <a href="">Calendário</a>
                    </div>
                </li>
                <li><a href="#" class="inicio">Início</a></li>
            </ul>
        </nav>
    </header>
    <main>   
        <section>
            <iframe src="../iframe/iframe.html"></iframe>
            <p class="lembrete">Lembretes</p>
            <div class="lembretes"></div>
        </section>
        

    </main>
    <footer>
        <p>Todos os direitos reservados a Flis ©</p>
    </footer>
</body>
</html>