<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidade</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/comunidade.css">
    <script defer src="../js/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
        <img src="../img/menu.png" alt="Icon Menu" class="menu-icon">
        <nav class="nav-header">
            <ul>
                <li><a href="saude.html">Saúde</a></li>
                <li><a href="comunidade.html">Comunidade</a></li>
                <li id="menu-margem"><a href="videos.html">Educacional</a></li>
                <li class="dropdown dropbtn">
                    <div class="fitnessNav">Fitness</div>
                    <div class="dropdown-content">
                        <a href="">Alimentação</a>
                        <a href="exercicios.html">Exercícios</a>
                        <a href="calendario.html">Calendário</a>
                    </div>
                </li>
                <li><a href="../../index.html" class="inicio">Início</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container1">
            <div class="left-container">
    
                <div class="paciente-info">
                    <img class="img-perfil" src="../img/leticia.jpeg" alt="Perfil"> Leticia
                    <ul>
                        <li>
                            <p>Paciente: 003456789</p>
                        </li>
                    </ul>
                </div>
    
                <br><br><br><br><br><br><br><br><br><br><br>
    
                <div class="paciente-lembrete">
                    <img class="img-lembre" src="../img/sino.png" alt="Lembrete"> Lembretes
                    <br>
                    Sua consulta está marcada para às 14:00
                </div>
    
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
                <div class="tamanho-tela">
                    <img class="img-expandir" src="../img/expandir.png" alt="Aumentar tela"> Aumentar Tela
                </div>
                
            </div>
    
            <div class="container2">
                <div class="center-container">
    
                    <div class="video-chamada">
                        <img class="img-psic" src="../img/psic.png" alt="Psicóloga">
                    </div>
                    
                    <div class="chamada">
                        <div class="atender-chamada">
                            <img class="img-atender" src="../img/atender.png" alt="Atender Chamada">
                        </div>

                        <div class="encerrar-chamada">
                            <img class="img-encerrar" src="../img/encerrar.png" alt="Encerrar Chamada">
                        </div>
                    </div>
                </div>
    
                <div class="chat-container">
                    <h2>Chat com a Psicóloga</h2>
    
                    <hr class="hr">
                    
                    <br><br><br>
    
                    <div class="chat">
                       <h3> Olá, Bom dia! </h3>
                    </div>
    
                    <br><br><br><br><br><br>
    
                    <div class="chat-input">
                        <input class="chat" type="text" placeholder="Digite sua mensagem">
                        <img class="img-enviar" src="../img/enviar.png" alt="Enviar">
                    </div>
                    
                    <br><br><br>
    
                </div>
            </div>
    
            <div class="right-container">
                <div class="psicologa-info">
                    <img class="img-psicologa" src="../img/psicologa.jpg" alt="Perfil-Psi"> Maria
                </div>
                <div class="psicologa-detalhes">
                    
                </div>
                
                <div class="call-button">
                    <img class="img-call" src="../img/call.png" alt="Ligação">
                </div>
    
                <div class="mensagem-button">
                    <img class="img-mensagem" src="../img/mensagem.png" alt="Mensagem">
                </div>
    
                <div class="zoom-button">
                    <img class="img-zoom" src="../img/zoom.png" alt="Zoom">
                </div>
    
            </div>
    
        </div>
    </main>

    <br><br>

    <footer>
        <p>Todos os direitos reservados a Flis ©</p>
    </footer>
</body>
</html>
