<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flis | Exercícios</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/form.css">
    <script defer src="../js/script.js"></script>
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
        <img src="../img/menu.png" alt="Icon Menu" class="menu-icon">
        <nav class="nav-header">
            <ul>
                <li><a href="videos.html">Conteúdo Educacional</a></li>
                <li><a href="#">Saúde</a></li>
                <li><a href="comunidade.html">Comunidade</a></li>
                <li id="menu-margem"><a href="#">Assistência</a></li>
                <li class="dropdown dropbtn">
                    <div class="fitnessNav">Fitness</div>
                    <div class="dropdown-content">
                        <a href="">Alimentação</a>
                        <a href="#">Exercícios</a>
                        <a href="calendario.html">Calendário</a>
                    </div>
                </li>
                <li><a href="../../index.html" class="inicio">Início</a></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <article>
            <section class="titulos">
                <div class="fonttituCalcCal">
                    Calculadora de calorias
                </div>
                <div class="fonttituVideo">
                    Vídeos
                </div>
            </section>  
            <br><br>
            <section class="quadradoes">
            <form class="formulario" method="post" action="enviaDados.php">
            
                <h2 class="titulo">Peso atual:</h2>
                <label class="label">
                    
                    <input type="text" class="input-bordas" placeholder="Ex: 72,5 kg" required="">
                    <span class="focus-border"> <i></i> </span>
                
                </label>
                <h2 class="titulo">Objetivo:</h2>
                <label class="label objetivo">
                    
                    <button class="button-form-objetivo"> Manter</button>
                    <button class="button-form-objetivo button-objetivo"> Engordar</button>
                    <button class="button-form-objetivo button-objetivo"> Emagrecer</button>
                    <span class="focus-border"> <i></i> </span>
                
                </label>
                <br><br><br><br>
                <div class="displayflex">
                    <h2 class="titulo">Idade:</h2>
                    <h2 class="tituloAlt">Altura:</h2>
                </div>
                <div class="displayflex">
                        <label class="label">
                            <br><br>
                            <input type="text" class="input-bordas" placeholder="Ex: 35 anos" required="">
                            <span class="focus-border"> <i></i> </span>
                        
                        </label>
                        
                        <label class="label">
                            <br><br>
                            <input type="text" class="input-bordas" placeholder="Ex: 160 cm" required="">
                            <span class="focus-border"> <i></i> </span>
                        
                        </label>
                    </div>
                <div class="container-enviar">
                    <h2 class="titulo">Resultado:</h2>
                    <button class="button-form borda-inversa">Calcular</button>
                        <!-- <div class="mostraResultado"></div> -->
                </div>
            </form>
            <div class="areaVideo"></div>
            </section>
        </article>
    </main>
    <br><br>
    <footer>
        <p>Todos os direitos reservados a Flis ©</p>
    </footer>
</body>
</html>