@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --cor-fundo: #fff7f7;
    --cor-rosa-claro: #ffc8c4;
    --cor3: #fa9897;
    --cor4: #f84c58;

    --font-padrao: 'Raleway', Arial, sans-serif;
}

body {
    font: normal 18px var(--font-padrao);
    background-color: var(--cor-fundo);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: var(--cor-rosa-claro);
}

header img {
    width: 110px;
    margin: 10px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    margin: 8px 12px;
}

nav li>a {
    color: gray;
    font-size: 20px;
    text-decoration: none;
}

.fonttitu {
    font-size: 50px;
    text-align: center;
}

.dropbtn {
    font-size: 20px;
    border: none;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: #737373;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container-planos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.formulario  .titulo { 
    color: #757575;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .formulario {
     
    max-width: 500px;
    margin: auto;
    background: white;
    overflow: hidden;
    padding: 20px;
  }
  :focus{outline: none;}
  .label { 
    float: left; 
    width: 100%; 
    margin-bottom: 25px; 
    position: relative;
  }
  .input-bordas{
    
    font: 15px/24px "Lato", Arial, sans-serif; 
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    border: 1px solid #ccc; 
    padding: 7px 14px 9px; 
    transition: 0.4s;
  }
  .textarea { resize:none!important; }
  .input-bordas ~ .focus-border:before,
  .input-bordas ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.2s; transition-delay: 0.2s;}
  .input-bordas ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
  .input-bordas ~ .focus-border i:before,
  .input-bordas ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.2s;}
  .input-bordas ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
  .input-bordas:focus ~ .focus-border:before,
  .input-bordas:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
  .input-bordas:focus ~ .focus-border:after{transition-delay: 0.2s;}
  .input-bordas:focus ~ .focus-border i:before,
  .input-bordas:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
  .input-bordas:focus ~ .focus-border i:after{transition-delay: 0.4s;}
  .button-form { 
    background-color: #39f;
    padding: 0.5em 1.3em;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
  }
  .borda-inversa {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: background;
    transition-property: background;
    box-shadow: inset 0 0 0 2px #39f, 0 0 1px rgba(0, 0, 0, 0);
  }
  .borda-inversa:hover, .borda-inversa:focus, .borda-inversa:active {
    
    background: none;
    color:#39f; 
  }
  /*Anti-span*/
  .naoexibir { display:none; }