html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff7f7;

}

header {
    background-color: #d9404d;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #ffc8c4;
    color: gray;
    height: 100px;
    position: sticky;
}

.img-logo-header{
    width: 120px;
    height: 120px;
    margin-left: 25px;
    margin-top: -12px;
}
ul{
    display: flex;
    list-style: none;
    margin: 25px;
    margin-top: 35px;
    font-size: 20px;
}

li{
    margin-left: 15px;
    margin-right: 15px;

}

.dropbtn{
    font-size: 20px;
    border: none;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: #737373;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd; cursor: pointer;}
  
  .dropdown:hover .dropdown-content {display: block; }
  

main {
    background-color: white;
}




.container1 {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-container, .right-container {
    flex: 1; 
    padding: 10px;
    border: 2px solid #d9404d;
}

.container2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-container, .center-container {
    flex: 1; 
    padding: 10px;
    border: 2px solid #d9404d;
}

.img-expandir, .img-lembre {
    max-width: 13%; 
    height: auto; 
}


.img-perfil, .img-psicologa{
    max-width: 25%; 
    height: auto; 
}

.img-logo-footer{
    width: 120px;
    height: 120px;
    margin-left: 25px;
}


.img-psic{
    max-width: 100%; 
    height: auto; 
}

.img-call {
    max-width: 13%; 
    height: auto; 
}

.img-zoom {
    max-width: 13%; 
    height: auto; 
}

.img-mensagem {
    max-width: 13%; 
    height: auto; 
}

.img-atender{
    max-width: 13%; 
    height: auto; 
}

.img-encerrar{
    max-width: 7%; 
    height: auto; 
}
.chamada{
    display: flex;
}

.video-chamada{
    padding: 10px 15px 20px;
    
}






.chat {
    width: 90%; 
    
}

.hr {
    background-color: #d9404d;
}

.img-enviar {
    max-width: 6%; 
    height: auto;
    margin-left: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    font-weight: 700;
    color: white;
    padding-bottom: 15px;
  }
  footer > .img-logo-footer {
    margin-top: 10px;
    width: 100px;
  }
