<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flis - Um serviço para elas!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="calendario.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon"> <!--Link para colocar imagem no title-->
    <script src="script.js" defer></script> <!--defer serve para carregar primeiro a pagina depois o script-->
</head>
<body>
    <header>
        <nav>
           <a href="../index.html"><img src="img/logo.png" class="logo"></a> 
            <ul>
                <li>Diário de Saúde</li>
                <li>
                    <div class="dropdown">
                    <button class="dropbtn">Saúde</button>
                    <div class="dropdown-content">
                      <a href="#">Dieta</a>
                      <a href="#">Nutrição</a>
                      <a href="calendario.html">Calendario</a>
                    </div>
                  </div>
                </li> <!---Fazer topico-->
                <li>Exercícios</li>
                <li>Apoio</li>
                <li>Profissionais</li>
            </ul>
        </nav>
    </header>
    <main>  
        <div class="container-calendario">
                <iframe src="../iframe/iframe.html"></iframe>
            <div class="planos">
                <span>Lembretes</span>
            </div>
        </div>
    </main>
<br><br>
    <footer>
        <img src="img/logo.png" >
        Todos os direitos reservados a Flis ©
        <br>
    </footer>
</body>
</html>